{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<!-- Showcase-->
<section id="showcase">
    <div class="container text-center">
        <div class="home-search p-5">
            <div class="overlay p-5">
                <h1 class="display-4 mb-4">
                    Buscador de Proyectos
                </h1>
                <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores
                    eveniet vel nostrum magnam
                    voluptatum tempore! Consectetur, id commodi!</p>
                <div class="search">
                    <form action="{% url 'search' %}">
                        <!-- Form Row 1 -->
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label class="sr-only">Keywords</label>
                                <input type="text" name="keywords" class="form-control" placeholder="Palabras (Canopy, island, etc)">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="sr-only">Tipo de Proyecto</label>
                                <select name="scope" class="form-control">
                                    <option selected="true" disabled="disabled">Tipo (Todos)</option>
                                    {% for key, value in scope_choices %}
                                       <option value="{{ key }}">{{ value | safe }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="sr-only">Departamento</label>
                                <select name="state" class="form-control">
                                    <option selected="true" disabled="disable">Departamento (Todos)</option>
                                    {% for key, value in state_choices %}
                                       <option value="{{ key }}">{{ value | safe }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Form Row 2 -->
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label class="sr-only">Presupuesto</label>
                                <select name="budget_allocated" class="form-control">
                                    <option selected="true" disabled="disabled">Max Presupuesto (Todos)</option>
                                    {% for key, value in budget_choices  %}
                                    <option value="{{key}}">{{value}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <select name="goal_time" class="form-control" id="type">
                                    <option selected="true" disabled="disabled">Max Duración (Cualquiera)</option>
                                    {% for key, value in goaltime_choices  %}
                                    <option value="{{key}}">{{value}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-secondary btn-block mt-4" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'projects'%}">Proyectos</a>
          </li>
          <li class="breadcrumb-item active"> Tablero</li>
        </ol>
      </nav>
    </div>
  </section>

<!-- Projects -->
<section id="listings" class="py-4">
    <div class="container">
        <div class="row">
            <!-- Loop of Projects -->
            {% if projects %}
            {% for project in projects %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <img class="card-img-top" src="{{ project.main_photo.url }}" alt="">
                    <div class="card-img-overlay">
                        <h2>
                            <span class="badge badge-secondary text-white">92%</span>
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h4 class="text-primary">{{ project.name }}</h4>
                            <p>
                                <i class="fas fa-map-marker text-secondary"></i> {{ project.get_city_display }}, {{ project.get_state_display }}</p>
                        </div>
                        <hr>
                        <div class="row py-2 text-secondary">
                            <div class="col-12">
                                <i class="fas fa-calendar"></i> Duración: {{ project.goal_time }} days</div>
                        </div>
                        <div class="row py-2 text-secondary">
                            <div class="col-12">
                                <i class="fas fa-list"></i> Presupuesto: ${{ project.budget_allocated | intcomma }}
                            </div>
                        </div>
                        <hr>
                        <div class="row py-2 text-secondary">
                            <div class="col-12">
                                <i class="fas fa-user"></i> {{ project.contractor }} </div>
                        </div>
                        <div class="row text-secondary pb-2">
                            <div class="col-12">
                                <i class="fas fa-clock"></i> {{ project.create_date | timesince }}</div>
                        </div>
                        <hr>
                        <a href="{% url 'project' project.id %}" class="btn btn-primary btn-block">Más Info</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-md-12">
                <p>No hay proyectos disponibles</p>
            </div>
            {% endif %}
        </div>

    </div>
</section>

{% endblock content %}