#header {
    background: #10284e;
    height: 50px;
    color: #ffffff;
}

#branding h1 {
    color: #fff;
}

a:link,
a:visited {
    color: #10284e;
}

div.breadcrumbs {
    background: rgba(0,119,200, 0.8);
}

#changelist-filter h2 {
    background: rgba(0,119,200, 0.8);
}

.module caption, .inline-group h2 {
    background: rgba(0,119,200, 0.8);
}

.button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover {
    background:rgba(0,119,200, 0.8);
    }

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #10284e
}